@font-face {
  font-family: 'PTSans';
  src: url('/assets/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'PTSans-caption';
  src: url('/assets/fonts/PTSansCaption-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Brutal';
  src: url('/assets/fonts/BrutalRegular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Brutal';
  src: url('/assets/fonts/BrutalMedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Brutal';
  src: url('/assets/fonts/BrutalBold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/gotham-rounded/GothamRounded-Book.otf') format('otf');
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/gotham-rounded/GothamRounded-Bold.otf') format('otf');
  font-weight: bold;
}
