@font-face {
  font-family: 'PTSans';
  src: url('/assets/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'PTSans-caption';
  src: url('/assets/fonts/PTSansCaption-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Brutal';
  src: url('/assets/fonts/BrutalRegular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Brutal';
  src: url('/assets/fonts/BrutalMedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Brutal';
  src: url('/assets/fonts/BrutalBold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamRoundedBook.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamRoundedBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamRoundedMedium.ttf') format('truetype');
  font-size: 14px;
}

@font-face {
  font-family: 'Gotham_BookItalic';
  src: url('/assets/fonts/GothamRounded-BookItalic.otf') format('otf');
}
