.root {
  padding: 15px 20px 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
}

.title {
  font-family: 'Brutal', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin: 5px 0 10px;
  padding-right: 40px;
  text-align: left;
}

.articles {
  padding-left: 20px;
  padding-top: 10px;
  border-left: 1px solid;
  border-image: linear-gradient(#fff 1%, #828282 5%, #828282 95%, #fff 99%) 1 100%;
  text-align: left;

  &__item {
    position: relative;
    font-family: 'PTSans', sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #333;
    margin-bottom: 24px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -25.5px;
      transform: translateY(6px);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #828282;
    }

    @media screen and (min-width: 1024px) {
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        color: #faaf3f;
      }

      &:hover::before {
        cursor: pointer;
        background-color: #faaf3f;
      }
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.button {
  display: inline-block;
  margin: 20px auto 0;
  padding: 0 42px;
  background-color: #faaf3f;
  color: #fff;
  font-family: 'Brutal', sans-serif;
  font-size: 14px;
  line-height: 32px;
  text-align: center;

  @media screen and (max-width: 1023px) {
    display: block;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: #f49f21;
    }
  }
}
